/*** Start Nav Bar ***/
nav ul {
		background-color: #000000;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
  font-weight: 300;
  font-size: 1.2em;
  line-height: normal;
  height: 30px;
  border-bottom: 1px solid black;
}

/* Style the links inside the navigation bar */
nav a {
	display: block;
	color: white;
	text-decoration: none;
}

/* Change the color of links on hover */
nav a:hover {
		background-color: #898885;
		color: black;
}

/* Add a color to the active/current link */
nav a.active {
		background-color: #010102;
		color: white;
}

@media screen and (max-width: 599px) {
  nav ul {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: height .5s ease;
  }
  ul.expanded {
    height: 201px;
  }
  .content {
    padding: 1em;
  }
}
@media screen and (min-width: 600px) {
  h1#nav-title {
    display: none;
  }

  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  nav li {
    float: left;
  }
  nav ul {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
  }
  nav {
    background-color: #000000;
  }
  .content {
    padding: 2em;
  }
}
/**** End Nav Bar ***/
